streamlit
python-dotenv
langdetect
langchain
langchain-community
langchain-core
groq
chroma
requests
beautifulsoup4
gpt4all==2.8.2
chromadb
sentence-transformers
langchain-google-genai


